<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMFI NAV API</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Google Font Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto Slab', slab-serif;
        }

        /* Add this style in your existing <style> tag or CSS file */

        .nav-gradient {
            background: linear-gradient(to right, #1976D2, #2196F3, #3F51B5, #673AB7);
            /* Adjust the colors as needed */
        }
    </style>
</head>

<body class="bg-gray-100">

    <!-- Top Navbar -->
    <nav class="teal">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">AMFI NAV API</a>
            </div>
        </div>
    </nav>

    <!-- Introduction Section -->
    <div class="container">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">Introduction</span>
                <p>
                    Welcome to the AMFI NAV API! This API provides a convenient way to retrieve Net Asset Value (NAV)
                    data
                    for various mutual funds. Use the provided endpoint to get the latest NAV or specify parameters for
                    more
                    specific queries.
                </p>
            </div>
        </div>
    </div>

    <!-- How to Use Section -->
    <div class="container">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">How to Use</span>
                <p class="flow-text">
                    To retrieve NAV data for mutual funds, use the following endpoint:
                    <code>/navdata/</code>
                </p>
                <p class="flow-text">
                    You can provide the following parameters:
                </p>
                <ul class="collection">
                    <li class="collection-item"><code>scheme_code</code> (mandatory, regex: <code>^\d{6}$</code>)</li>
                    <li class="collection-item"><code>isin</code> (optional, regex: <code>^[A-Za-z0-9]{12}$</code>)</li>
                    <li class="collection-item"><code>scheme_name</code> (optional)</li>
                    <li class="collection-item"><code>date</code> (optional)</li>
                    <li class="collection-item"><code>page</code> (optional, default: 1)</li>
                    <li class="collection-item"><code>page_size</code> (optional, default: 10, max: 100)</li>
                </ul>
                <p class="flow-text">
                    Example usage:
                    <code>/navdata/?scheme_code=119551&date=2024-01-15</code>
                </p>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">API Documentation</span>
                <div class="center-align">
                    <a href="/docs" class="waves-effect btn">Swagger</a>
                    <span style="margin: 10px;"></span>
                    <a href="/redoc" class="waves-effect btn">Redoc</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Additional Details Section -->
    <div class="container">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">Additional Details</span>
                <p>
                    This API supports various parameters to cater to your specific needs. Whether you are looking for
                    NAV data for a particular scheme or want historical data for a specific date, this API has you
                    covered.
                </p>
                <p>
                    Feel free to explore the options and tailor your requests accordingly. For any issues or questions,
                    please refer to the documentation or contact our support team.
                </p>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <footer class="page-footer teal">
        <div class="container">
            <p>&copy; 2024 Amaresh M. All rights reserved.</p>
            <p>
                Disclaimer: The NAV data provided by this API is sourced from the official AMFI website. While every
                effort is made to ensure accuracy, this API does not guarantee its correctness. It is not intended for
                legal
                use or data theft, as AMFI publishes this information for public use.
            </p>
        </div>
    </footer>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>